@keyframes show-toast{
    0%{bottom:-100%}
    20%{bottom:100px}
    80%{bottom:100px}
    100%{bottom:-100%}
}

.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name:show-toast ;
    animation-duration:8s ;
    z-index: 99;
}

.btn{
    padding: 2px 1.75sem;
    font-size: 12px;
    cursor: pointer;
}

.main-search.fancy.field-folder input[type="text"]{
    color:#000000 !important
}

#opening_hours select{
    padding: 5px 10px !important;
}

.payment-method [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.payment-method [type=radio]+img{
    cursor: pointer;
    padding: 5px;
}

.payment-method [type=radio]:checked + img{
    outline: 2px solid #000000
}


/* updates template */

/* MAIN LAYOUT */
.main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.dashboard-container {
    display: flex;
    height: 100%;
}

/* LEFT SIDEBAR STATIC */
.sidebar {
    width: 250px;
    background: #ffffff;
    border-right: 1px solid #ddd;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
}

/* OPTIONAL: improve sidebar look */
.sidebar .nav-link {
    color: #333;
    font-weight: 500;
}

.sidebar .nav-link:hover {
    background: #f1f1f1;
    border-radius: 8px;
}

/* ACTIVE menu highlight */
.sidebar-menu .active > .nav-link {
    background: #f1f1f1 !important;
    border-radius: 8px;
    font-weight: 600;
    color: #000 !important;
}


/* RIGHT CONTENT DYNAMIC */
.content {
    flex: 1; 
    background: #f7f8fa;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0 20px 20px 0;
    padding: 20px;
}


/* For cards */
.card {
    border-radius: 10px;
}
/* Remove dots from sidebar menu */
.sidebar-menu,
.sidebar-menu li {
    list-style: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}


@media only screen and (max-width:480px){
    
a.get-start-btn {
    display: block !important ;
    margin-top: 17px !important;
    padding: 10px !important;
}
.user-dashboard {
    
  width: 380px !important;   
}


}