<div class="user-nav-list">
				<ul>
										<li class="{% if  request.resolver_match.url_name == 'vendorDashboard' %}active{% endif %}"><a href="{% url 'vendorDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
										<li class="{% if  request.resolver_match.url_name == 'vprofile' %}active{% endif %}"><a href="{% url 'vprofile' %}"><i class="icon-building"></i>My Restaurant</a></li>
										<li class="{% if  request.resolver_match.url_name == 'menu_builder' %}active{% endif %}"><a href="{% url 'menu_builder' %}"><i class="icon-menu"></i>Menu Builder</a></li>
										<li class="{% if request.resolver_match.url_name == 'opening_hours' %}active{% endif %}"><a href="{% url 'opening_hours' %}"><i class="icon-menu"></i>Opening Hours</a></li>
										<li class="{% if request.resolver_match.url_name == 'vendor_orders' %}active{% endif %}"><a href="{% url 'vendor_orders' %}"><i class="icon-add_shopping_cart"></i>Orders</a></li>


										<li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li>
										<li><a href="restaurant-statement.html"><i class="icon-file-text22"></i>Statement</a></li>
										<li class="{% if '/accounts/forgotpassword' == request.path %}active{%endif%}"><a href="{% url 'forgotpassword' %}"><i class="icon-unlock-alt"></i>Change Password</a></li>
										<li ><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
									</ul>
		</div>