{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="main-section">
				
				<div class="page-section pt-5">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Cart Item</a></li>	
									</ul>
									<div class="tab-content">
											<div id="home" class="tab-pane in active">
												<div class="menu-itam-holder">
													<div id="menu-item-list-6272" class="menu-itam-list">
                                                        {% if cart_items %}
                                                        <ul>
																{% for cart in cart_items %}
																	<li>
																		<div class="image-holder">	
																				<a href="{{ food.image.url }}"><img src="{{ cart.fooditem.image.url }}" alt="{{ food.food_title }}"></a>
																		</div>

																		<div class="text-holder">
																			<h6>{{ cart.fooditem.food_title }}</h6>
																			<span>{{ cart.fooditem.description }}</span>
																		</div>

																		<div class="price-holder">
																			<span class="price">₹{{ cart.fooditem.price }}</span>
																			<a href="#" class="decrease_cart" data-id="{{ cart.fooditem.id }}" data-url="{% url 'decrease_cart' cart.fooditem.id %}" style="margin-right: 28px;"><i class="icon-minus text-color"></i></a>
																			<label id="qty-{{ food.id }}" >0</label>
																			<a href="#" class="add_to_cart" data-id="{{ cart.fooditem.id }}" data-url ="{% url 'add_to_cart' cart.fooditem.id %}" ><i class="icon-plus4 text-color"></i></a>
																		</div>
																	</li>
                                                                    {% endfor %}
																
															</ul>
                                                            {% else %}

                                                            <div class="text-center p-5">
                                                                <h5>Cart is Empty</h5>
                                                            </div>

                                                            {% endif %}
														
												    </div>
											</div>
										</div>
								</div>
							</div>		
						</div>
                         <!-- cart items -->	
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
										
									</ul>
									<div class="tab-content">
											<div id="home" class="tab-pane in active">
												<div class="menu-itam-holder">
                                                    <div>
                                                        <ul>
                                                            <li style="list-style-type:none;">
                                                                Subtotal
                                                                <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="subtotal">0</span>
                                                                </span>
                                                            </li>

                                                            <li style="list-style-type:none">
                                                                Tax
                                                                 <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="subtotal">0</span>
                                                                </span>
                                                            </li>
                                                            <li style="list-style-type:none; font-weight: 600;">
                                                                TOTAL
                                                                 <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="subtotal">0</span>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>		
												</div>
											</div>
										</div>
								</div>
							</div>
					</div>
				</div>
			</div>
</div>


{% endblock %}